/* -----------------------------------------------HEADER--------------------------------------------- */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.loga{
    display: flex;
    align-items: center;
    
}

.eleven-logo{
    width: 125px;
    
}
.eleven{
    background-color: white;
    padding: .7rem;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
}



.juve{
    width: 100%;
    
}
.kreska{
    height: 32px;
    background-color: black;
    font-size: 5px;
    
}
.interia-logo{
    width: 150px;
    display: flex;
    align-items: center;
}
.interia{
    display: flex;
    align-items: center;
}

/* ------------------------------------NAVBAR-------------------------------------------------- */


.navbar{
    display: flex;
    align-items: center;
    gap: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
.navbar-menu{
    display: flex;
    align-items: center;
    margin-right: 200px;
    gap: 45px
    
}
.menu:hover{
    color: red;
}
/* .search-logo{
    width: 34px;
    margin-left: -20px;
}
 */


/* 
---------------------Section-------------------------------------- */
/* .section-up{
    background-image: url(zdjecia/juveee.PNG);
} */

/* 

.section-up{
    position: relative;
}
.inside-content{
    top: 0;
} */



.section {
    position: relative;
}
  
.section-up {
    position: relative;
}
  
.juve-img {
    width: 100%; /* Upewnij się, że obrazek wypełnia szerokość rodzica */
    height: auto; /* Ustal wysokość proporcjonalnie */
}
  
.inside-content {
    position: absolute;
    bottom: 0; /* Ustal, gdzie ma być umieszczona zawartość na zdjęciu */
    left: 0; /* Ustal, gdzie ma być umieszczona zawartość na zdjęciu */
    
    color: white; /* Kolor tekstu */
    width: 100%;
    padding: 10px; /* Dodatkowe style, takie jak marginesy i wypełnienia */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;

    padding: 2rem;

    margin-left: 4rem;
}
.czerwona-kreska{
    background-color: rgb(253, 50, 50);
    width: 80px;
    height: 7px;
    
}
.text-red-small{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
}
.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
}





















































/* ---------------------------MEDIA--------------------------------------------------------------- */
@media (max-width: 950px) {
    .eleven-logo{
        width: 80px;
    }
    .interia-logo{
        width: 90px;
    }
    .eleven{
        width: 80px;
    }

  } 
  @media (max-width: 1150px) {
    .eleven{
        width: 170px;
    }




}

@media (max-width: 1285px) {
    .navbar-menu{
        margin-right: 140px;
    }

}

@media (max-width: 1225px) {
    .navbar-menu{
        margin-right: 80px;
    }

}
@media (max-width: 1062px) {
    .navbar-menu{
        margin-right: 30px;
    }

}

@media (max-width: 1010px) {
    .navbar-menu{
        margin-right: 7px;
    }

}
































































































































































































































html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}